@import '../../variables.module.scss';

.AddContact {
  border: 2px solid $text;
  padding: 1em;
  border-radius: 1em;
  margin-top: 2em;

  .wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &>button {
      align-self: center;
    }
  }

  & h3 {
    text-align: center;
    padding: .4em;
  }

  .inputs-container {
    width: 80%;

    div.Input {
      margin-bottom: 0;
    }
  }

  .error-message {
    text-align: center;
    color: $attantion;
  }
}