@import '../../variables.module.scss';

.ContactList {}

.container {
  margin-top: 2em;
  border-top: 2px solid $border;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;

  .loader {
    margin: auto !important;
  }

  .not-found {
    margin: 2em;
    text-align: center;
    flex-grow: 1;
    font-size: 1rem;
    color: $attantion;
  }
}